@model IEnumerable<Desafio_cliente_vs.Models.VistaReuniones>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    Hola mundo
    <br />
    <h2>Reuniones programadas</h2>
    <ul>
        @foreach (var reu in Model)
        {
            <li>@reu.titulo</li>
            <li>@reu.descripción</li>
            <li>@reu.Fecha</li>
        }
    </ul>
</div>